h1{
    color: red;
    border: solid
}
.menu{
    border:solid
}
.intro{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content{
    display: flex;
    background-color: cyan;
    justify-content: center;
    border: solid
}
.game1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name1{
    display: flex;
    justify-content: center;
}